Repository ZacharyDonnelly/RawBase: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint:client, yarn lint:prettier:client, yarn lint:eslint:auth, yarn lint:prettier:auth, yarn lint:stylelint:client

chore: cleanup
  .gitignore
  packages/auth/.gitignore
  packages/auth/src/models/User.ts
  packages/auth/src/models/index.ts
  packages/auth/src/resolvers-types.generated.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: cleanup of auth server
  packages/auth/server.ts
  packages/auth/src/models/index.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

feat: better db config, overall auth server cleanup
  packages/auth/codegen.yml
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/auth/src/graphql/resolvers/Query.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/models/index.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

feat: better db config (tested), renaming && restructuring auth server
  packages/auth/server.ts
  packages/auth/src/db/index.ts
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/auth/src/graphql/ApolloServer.ts
  packages/auth/src/graphql/resolvers/Query.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/schema.gql
  packages/auth/src/models/User.ts
  packages/auth/src/models/index.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: qol updates
  packages/auth/package.json
  packages/auth/server.ts
  packages/auth/src/db/index.ts
  packages/auth/src/models/index.ts
  packages/client/package.json
  yarn.lock
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: client pjson organize
  packages/client/package.json
Due: none

feat: populate user table, better structuring of queries, add resolvers & semvar
  packages/auth/package.json
  packages/auth/server.ts
  packages/auth/src/apollo/index.ts
  packages/auth/src/db/index.ts
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/auth/src/graphql/resolvers/Mutation.ts
  packages/auth/src/graphql/resolvers/Query.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/schema.gql
  packages/auth/src/models/User.ts
  packages/client/package.json
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

fix: exclude commitlint file from tsconfig
  tsconfig.json
Due: none

feat: set up frontend mutation hook, qol improvements, schema changes & semvar
  packages/auth/package.json
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/auth/src/graphql/resolvers/Mutation.ts
  packages/auth/src/graphql/schema.gql
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/components/Queries/User/index.ts
  packages/client/src/components/auth/LoginCard/index.tsx
  packages/client/src/components/auth/SignupCard/index.tsx
  packages/client/src/generated/graphql.tsx
  packages/client/src/index.tsx
Due: yarn lint:eslint:client, yarn lint:prettier:client, yarn lint:eslint:auth, yarn lint:prettier:auth

chore: eslint config for TS
  .eslintrc
  package.json
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/client/src/generated/graphql.tsx
  yarn.lock
Due: yarn lint:eslint:client, yarn lint:prettier:client, yarn lint:eslint:auth, yarn lint:prettier:auth

feat: new pigeon favicon
  packages/client/public/favicon.ico
Due: none

fix: run codegen
  packages/client/codegen.yml
  packages/client/src/components/auth/LoginCard/index.tsx
  packages/client/src/generated/graphql.tsx
Due: yarn lint:eslint:client, yarn lint:prettier:client

feat: start adding db types, graphql typings etc
  packages/auth/src/apollo/index.ts
  packages/auth/src/db/index.ts
  packages/auth/src/generated/resolvers-types.generated.ts
  packages/auth/src/graphql/resolvers/Mutations/index.ts
  packages/auth/src/graphql/resolvers/Queries/index.ts
  packages/auth/src/graphql/resolvers/Query.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/schema.gql
  packages/client/src/generated/graphql.tsx
Due: yarn lint:eslint:client, yarn lint:prettier:client, yarn lint:eslint:auth, yarn lint:prettier:auth

chore: renaming mutations, versioning
  packages/auth/package.json
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  packages/auth/src/graphql/resolvers/Mutations/index.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/client/package.json
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

feat: schema changes, type changes & versioning
  packages/auth/codegen.yml
  packages/auth/package.json
  packages/auth/server.ts
  packages/auth/src/db/index.ts
  packages/auth/src/generated/index.d.ts
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  packages/auth/src/graphql/resolvers/Queries/index.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/schema.gql
  packages/client/package.json
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

sec: remove vulnerable lib
  commitlint.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: none

sec: update another vulnerable lib
  yarn.lock
Due: none

sec: upgrade lodash in yarn lock
  yarn.lock
Due: none

sec: upgrade lodash in yarn lock x2
  yarn.lock
Due: none

sec: upgrade lodash in yarn lock x3
  yarn.lock
Due: none

sec: update node-fetch
  yarn.lock
Due: none

chore: db setup
  packages/auth/.gitignore
  packages/auth/server.ts
  packages/auth/src/db/index.ts
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  yarn.lock
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

feat: typings to db config, broke out into separate file & add storage file for DB
  .eslintrc
  package.json
  packages/auth/.gitignore
  packages/auth/src/db/index.ts
  yarn.lock
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

fix: better db config x100
  .gitignore
  packages/auth/.gitignore
  packages/auth/.sequelizerc
  packages/auth/server.ts
  packages/auth/src/db/index.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: ts stuff, reorganizing & versioning
  .eslintignore
  .eslintrc
  .prettierignore
  packages/auth/.sequelizerc
  packages/auth/codegen.yml
  packages/auth/package.json
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  packages/auth/src/graphql/resolvers/Queries/index.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/types/Apollo.d.ts
  packages/auth/tsconfig.json
  packages/client/package.json
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: sequelize config, refreshing ORM knowledge
  .gitignore
  packages/auth/.gitignore
  packages/auth/.sequelizerc
  packages/auth/src/db/index.ts
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  packages/auth/src/graphql/schema.gql
  packages/auth/src/models/User.ts
  packages/auth/src/types/Apollo.d.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

fix: codegen fix user model
  packages/auth/src/graphql/resolvers/Mutations/User.ts
  packages/auth/src/models/User.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

chore: cleanups
  packages/auth/src/db/index.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

sec: lib upgrades
  package.json
  packages/auth/package.json
  packages/client/package.json
  yarn.lock
Due: none

feat: create reusable util to seed db with random users
  packages/auth/src/util/seedGenerator.ts
Due: yarn lint:eslint:auth, yarn lint:prettier:auth

ci: dependabot changes
  .github/dependabot.yml
  packages/auth/nodemon.json
Due: none

feat: big repo update, added plugins package, start config for storybook & package in general
  .eslintignore
  .eslintrc
  .lintstagedrc.json
  package.json
  packages/auth/package.json
  packages/client/package.json
  packages/plugins/.babelrc
  packages/plugins/.gitignore
  packages/plugins/.storybook/addons.ts
  packages/plugins/.storybook/config.ts
  packages/plugins/.storybook/preview-head.html
  packages/plugins/.storybook/webpack.config.js
  packages/plugins/index.html
  packages/plugins/package.json
  packages/plugins/scripts/getLocalIdent.js
  packages/plugins/scripts/getStyleLoaders.js
  packages/plugins/tsconfig.json
  packages/plugins/types/index.d.ts
  packages/plugins/webpack.config.js
  yarn.lock
Due: none

chore: add plugins to client dir
  packages/client/package.json
Due: none

chore: cleanup
  package.json
Due: none

feat: complete overhaul of plugins pkg, added test plugins (resuable components for now), TS config
  package.json
  packages/auth/package.json
  packages/auth/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/plugins/package.json
  packages/plugins/rollup.config.js
  packages/plugins/src/HorizontalRule/HorizontalRule.stories.tsx
  packages/plugins/src/HorizontalRule/index.tsx
  packages/plugins/src/HorizontalRule/styles.module.scss
  packages/plugins/src/InputLabel/index.tsx
  packages/plugins/src/InputLabel/styles.module.scss
  packages/plugins/src/Loading/Loading.stories.tsx
  packages/plugins/src/Loading/index.tsx
  packages/plugins/src/Loading/styles.module.scss
  packages/plugins/src/export.ts
  packages/plugins/tsconfig.json
  packages/plugins/types/index.d.ts
  tsconfig.json
  yarn.lock
Due: none

feat: work on plugins pkg
  packages/client/tsconfig.json
  packages/plugins/.babelrc
  packages/plugins/package.json
  packages/plugins/tsconfig.json
  packages/plugins/webpack.config.js
  yarn.lock
Due: none

feat: add config, work on bundler
  packages/client/src/index.tsx
  packages/client/src/utils/lib/errors/FetchError.ts
  packages/client/src/utils/lib/fetch.ts
  packages/client/src/utils/lib/index.ts
  packages/plugins/src/components/HorizontalRule/HorizontalRule.stories.tsx
  packages/plugins/src/components/HorizontalRule/index.tsx
  packages/plugins/src/components/HorizontalRule/styles.module.scss
  packages/plugins/src/components/InputLabel/index.tsx
  packages/plugins/src/components/InputLabel/styles.module.scss
  packages/plugins/src/components/Loading/Loading.stories.tsx
  packages/plugins/src/components/Loading/index.tsx
  packages/plugins/src/components/Loading/styles.module.scss
  packages/plugins/src/export.ts
  packages/plugins/tsconfig.json
Due: yarn lint:eslint:client, yarn lint:prettier:client

feat: finish fetch hook, type stuffs
  packages/client/src/utils/hooks/useFetch.ts
  packages/plugins/tsconfig.json
  packages/plugins/types/index.d.ts
  packages/plugins/webpack.config.js
Due: yarn lint:eslint:client, yarn lint:prettier:client

chore: prettier file type change
  .prettierrc
  .prettierrc.js
Due: none

chore: lots of cleanup
  packages/client/package.json
  packages/common/.babelrc
  packages/common/.gitignore
  packages/common/.storybook/addons.ts
  packages/common/.storybook/config.ts
  packages/common/.storybook/preview-head.html
  packages/common/.storybook/webpack.config.js
  packages/common/index.html
  packages/common/package.json
  packages/common/rollup.config.js
  packages/common/scripts/getLocalIdent.js
  packages/common/scripts/getStyleLoaders.js
  packages/common/src/HorizontalRule/HorizontalRule.stories.tsx
  packages/common/src/HorizontalRule/index.tsx
  packages/common/src/HorizontalRule/styles.module.scss
  packages/common/src/InputLabel/index.tsx
  packages/common/src/InputLabel/styles.module.scss
  packages/common/src/Loading/Loading.stories.tsx
  packages/common/src/Loading/index.tsx
  packages/common/src/Loading/styles.module.scss
  packages/common/src/export.ts
  packages/common/tsconfig.json
  packages/common/types/index.d.ts
  packages/common/webpack.config.js
  packages/plugins/src/export.ts
Due: none

Path conditions:
  yarn lint:eslint:client: (any of: ./packages/client/src/**/*.tsx) or (any of: ./packages/client/src/**/*.ts)
  yarn lint:prettier:client: (((any of: ./packages/client/src/**/*.tsx) or (any of: ./packages/client/src/**/*.module.scss)) or (any of: ./packages/client/src/**/*.scss)) or (any of: ./packages/client/src/**/*.ts)
  yarn lint:eslint:auth: ((any of: ./packages/auth/src/**/*.tsx) or (any of: ./packages/auth/src/**/*.ts)) or (any of: ./packages/auth/*.ts)
  yarn lint:prettier:auth: ((any of: ./packages/auth/src/**/*.tsx) or (any of: ./packages/auth/src/**/*.ts)) or (any of: ./packages/auth/*.ts)
  yarn lint:stylelint:client: any of: ./packages/client/src/**/*.scss
